body{
    margin: 0;
    font-family: "Lato", sans-serif;

}
#particulas-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
     
}
h1{
    text-align: center;
    justify-content: center;

}
h2,h3,h4 {

    color: #2a3b47;
}
h3{
    padding: 8px ;
   border-right: 4px solid #00ad9e;
}

a {
    text-decoration: none;
}
.logo {
    height:60px ;
    width: auto;
    margin: 10px;
    border-bottom: none;
    align-items: center;
    justify-content: center;
}
.encabezado, .contenido {
    padding: 1em;
}

.breadcumb{
    padding: 20px;
}

.contenido{
    
    box-sizing: border-box;
    
}

.encabezado {
    color:#00ad9e;
    background-color: #22303a;
    height: auto;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 93;
    opacity: .98;
    
    
}

.encabezado a:hover{
    color:#fcb918 ;
}
.encabezado  nav a {
    color: #8ab1ec;
    list-style: none;
    text-decoration: none;
    align-items: center;
    line-height: 2em; 
    
   
}

.menu ul li {
    
    margin: auto;
    font-size: 16px;
    align-items: center; 
    justify-content: center;   
}
/*nav li.active a {
    color:#E9ECF4;
    
}*/

.breadcumb li a {
    color:#00ad9e;
    font-size: 1em;
    flex-wrap:wrap;
    display:flex;
    
}

ul {
    margin: 0px;
    padding-left: 0px;
}

.contenido .post {

    float: left;
    box-sizing: border-box;

}

.post{
    background-color: #E9ECF4;
    width: 50%;
    height: 70%;
    padding: 15px;
    margin-bottom: 1em;
    line-height: 2em; 
}

.borde_izq {
    padding: 0 0 0 24px;
   border-left: 4px solid #00ad9e;

}
.boton a {
    border: 2px solid  #00ad9e;
    padding: 10px;
    border-radius:2px;
    color: #fd4215;
}

a{
    text-decoration: none;
}
.infograf {

    width: 35%;
    height: auto;
    padding: 15px;
    margin: 1em;
    align-items: center;
}

.video {

    width:560px;
     height: 315px;
    padding: 15px;
    margin: 1em;
    align-items: center;
}

.borde_2{
    padding: 0 0 0 24px;
   border-left: 4px solid #00ad9e;
}

.pie-pag{
    width: 100%;
    background-color: #12283e;
    height: auto;
    margin: 0;
    padding: 0px;
   
    font-size: 0.8888888888888888rem;
    line-height: 2em;
    
     
	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
    

}
li {
    list-style: none;
    
}

/*menú footer Clip Path*/

.contenedorPie {
   background: #00ad9e; 
   color: #f8f8f8;
   width: 100%;
   height: auto;
   z-index: 100;
   text-align: center;
   clip-path: circle(13% at 50% 0px);
   transition: .6s ease all;

}

 .contenedorPie.active  {
    clip-path: circle(100% at 50% 0px);
 }
 
.btn_abrir_footer{

    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    margin: 15px;
}

.btn_abrir_footer:hover {
    animation: rotar 1.5s alternate;
}

@keyframes rotar {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(10deg);}
    40% {transform: rotate(-15deg);}
    60% {transform: rotate(15deg);}
    80% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
}

.elementos_navFooter {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementos_navFooter li{
    list-style: none;
    /*padding-bottom: 15px;*/
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.elementos_navFooter li a {
    text-decoration: none;
    font-size:18px;
    padding-left: none;
    letter-spacing: 2px;
    padding:15px 7px ;
    color: #12283e;
    text-transform: uppercase;
    transition:.2s ease all;
}

.elementos_navFooter li a:hover{
    background-color: #E9ECF4;
}


.tituloFooter{
    padding-bottom: 25px;
    color: #12283e;
    margin-top: 0px;
}
footer .bloque_tres{
    text-decoration: none;
    color: #8ab1ec;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 0.8888888888888888rem;

}

 .bloque_tres a {
    text-decoration: none;
    color: #00ad9e;
}
footer .bloque_tres a:hover {
    
    color:#fd4215;   
}


/*RESPONSIVE*/

@media screen and (max-width: 480px){

    .infograf {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
       
        align-items: center;
        margin: auto;
        box-sizing: border-box;
    }

  .video {
        width: auto;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
    }
    .contenido .post{

        width: 100%;
        
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
  
    .pie-pag {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto; 
        width: 100%;
         
    }
    .btn_abrir_footer{

        font-size: 20px;
        padding: 5px;
        cursor: pointer;
        margin: 5px;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 780px){
    .infograf {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
    }
  

  .video {
        width: 480px;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
        justify-content: center;
    }
   
    .contenido .post{

        width: 100%;
        
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
  
    .pie-pag {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto; 
        width: 100%;
         
    }
    .elementos_navFooter li a {
        text-decoration: none;
        font-size:16px;
        padding-left: none;
        letter-spacing: 2px;
        padding:10px 10px ;
        color: #f8f8f8;
        text-transform: uppercase;
        transition:.2s ease all;
    }
    .tituloFooter{
        padding-bottom: 20px;
        color: #12283e;
        margin-top: 0px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
}
    

@media screen and (min-width: 780px) and (max-width: 1024px){

    .infograf {
        width: 90%;
        height: auto;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
    }
  
 .contenido .post{

        width: 100%;
        
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

}

