body{
    margin: 0;
    font-family: "Lato", sans-serif;

}
h1{
    text-align: center;
    justify-content: center;

}
h2,h3,h4 {

    color: #2a3b47;
}
h3{
    padding: 8px ;
   border-right: 4px solid #00ad9e;
}

a {
    text-decoration: none;
}
.logo {
    height:52px ;
    width: auto;
    margin: 10px;
    border-bottom: none;
    align-items: center;
    justify-content: center;
}
.encabezado, .contenido, .pie-pag {
    padding: 1em;
}

.contenido, .pie-pag {
    
    box-sizing: border-box;
    

}

.encabezado {
    color:#00ad9e;
    background-color: #22303a;
    height: auto;
    text-align: center;
    align-items: center;
    
    
}

.encabezado a:hover{
    color:#fcb918 ;
}
.encabezado  nav a {
    color: #8ab1ec;
    list-style: none;
    text-decoration: none;
    align-items: center;
    line-height: 2em; 
    
   
}


.menu ul li {
    
    margin: auto;
    font-size: 16px;
    align-items: center; 
    justify-content: center;   
}
nav li.active a {
    color:#E9ECF4;
    
}

.breadcumb li a {
    color:#00ad9e;
    font-size: 1em;
    flex-wrap:wrap;
    display:flex;
    
}



.contenido .post {

    float: left;
    box-sizing: border-box;

}

.post{
    background-color: #E9ECF4;
    width: 50%;
    height: 70%;
    padding: 15px;
    margin-bottom: 1em;
    line-height: 2em; 
}

.borde_izq {
    padding: 0 0 0 24px;
   border-left: 4px solid #00ad9e;

}
.boton a {
    border: 2px solid  #00ad9e;
    padding: 10px;
    border-radius:2px;
    color: #fd4215;
}

a{
    text-decoration: none;
}
.infograf {

    width: 35%;
    height: auto;
    padding: 15px;
    margin: 1em;
    align-items: center;
}

.video {

    width:560px;
     height: 315px;
    padding: 15px;
    margin: 1em;
    align-items: center;
}

.borde_2{
    padding: 0 0 0 24px;
   border-left: 4px solid #00ad9e;
}

.pie-pag{
    width: 100%;
    background-color: #12283e;
    height: auto;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 0.8888888888888888rem;
    line-height: 2em;
    
     
	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
    justify-content:space-between;  

}
li {
    list-style: none;
    
}


footer .bloque_uno {
    flex-grow:1;
    display:flex;
    flex-wrap:wrap;   
    text-align: left;
    align-items: center;
    text-decoration: none; 
    
}
 
footer .bloque_uno a {
    color:#00ad9e;
    text-decoration:none;
  
        
}
 
footer .bloque_uno a:hover {
    
    color:#fcb918;
    
}
 
footer .bloque_dos {
    flex-grow:1;
   
    text-align:left ;
    align-items: center;
   
}
 
footer .bloque_dos a {
	color:#00ad9e;
	text-decoration: none;
   
   
}
footer .bloque_dos  a:hover {
    
    color:#fd4215;
}


footer .bloque_tres{
    text-decoration: none;
    color: #8ab1ec;
    width: 100%;
    text-align: center;
    font-size: 0.8888888888888888rem;

}
 .bloque_tres a {
    text-decoration: none;
    color: #00ad9e;
}
footer .bloque_tres a:hover {
    
    color:#fd4215;   
}


/*RESPONSIVE*/

@media screen and (max-width: 480px){

    .infograf {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
    }

  .video {
        width: auto;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
    }
    .contenido .post{

        width: 100%;
        
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
  
    .pie-pag {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto; 
        width: 100%;
         
    }
    
}

@media screen and (min-width: 480px) and (max-width: 780px){
    .infograf {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
    }
  

  .video {
        width: 480px;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
        justify-content: center;
    }
   
    .contenido .post{

        width: 100%;
        
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
  
    .pie-pag {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto; 
        width: 100%;
         
    }
    
}
    

@media screen and (min-width: 780px) and (max-width: 1024px){

 .contenido .post{

        width: 100%;
        
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

}



